In [1]:
# Allow python to import modules in our src folders
import sys
sys.path.append("src/")


from preprocessing.load_dataset import *

In [2]:
characters_df = load_characters_df()
movies_df = load_movies_df()
plot_df = load_plot_df()
tvtropes_tf = load_tvtropes_df()


# I suppose that we do not have cameras in 1010...
# movies_df.iloc[62836] = movies_df.iloc[62836].replace(to_replace='1010-12-02', value='2010-12-02')

In [3]:
characters_df.sample(5)

,wiki_movie_id,freebase_movie_id,release_date,character_name,actor_birth,actor_gender,actor_height,actor_ethnicity,actor_name,release_actor_age,freebase_map_id,freebase_character_id,freebase_actor_id
139686,36080107,/m/0ds9ls,1981,NaN,NaN,F,NaN,NaN,Menaka,NaN,/m/0mzmsw0,NaN,/m/05m_1nb
182598,9230965,/m/02810l5,1951-04-26,NaN,1914-04-14,M,NaN,NaN,John Hubbard,37.0,/m/0gc9bxp,NaN,/m/047bvls
62924,29958090,/m/0fqrf1t,2007-11-23,Anna,1979-12-28,F,1.630,NaN,Noomi Rapace,27.0,/m/0gz55g8,/m/0gz55gb,/m/063_hby
272127,5492073,/m/0dp61q,1980-01,Matt,1946-12-17,M,1.778,/m/044038p,Eugene Levy,NaN,/m/0cpkh8s,/m/0h5hp5p,/m/028k57
93524,204839,/m/01d259,1997-01-15,Bill Dayton,1944-06-29,M,1.820,/m/02ctzb,Gary Busey,52.0,/m/0cgdr_7,/m/0gl_v0w,/m/03ds3

In [4]:
movies_df.sample(5)

,wiki_movie_id,freebase_movie_id,movie_name,movie_release_date,box_office,movie_runtime,movie_languages,movie_countries,movie_genres
5566,10000017,/m/06_y4b9,La Isla de los dibujos,1976,NaN,NaN,{'/m/06nm1': 'Spanish Language'},{'/m/0jgd': 'Argentina'},"{'/m/07s9rl0': 'Drama', '/m/0hcr': 'Animation'}"
28744,32076743,/m/0gx2qkx,The Lunatic at Large,1921,NaN,NaN,{},{'/m/07ssc': 'United Kingdom'},"{'/m/06ppq': 'Silent film', '/m/05p553': 'Come..."
49448,22342974,/m/05s_vs7,Return Home,1990,NaN,85.0,{'/m/02h40lc': 'English Language'},{'/m/0chghy': 'Australia'},{'/m/07s9rl0': 'Drama'}
73870,34155548,/m/0hhcw5b,Kotha Jeevithalu,1980,NaN,NaN,{'/m/09s02': 'Telugu language'},{'/m/03rk0': 'India'},{'/m/07s9rl0': 'Drama'}
46587,23225535,/m/065ysvp,Baby of the Bride,1991-12-22,NaN,105.0,{'/m/02h40lc': 'English Language'},{'/m/09c7w0': 'United States of America'},{'/m/07s9rl0': 'Drama'}

In [5]:
plot_df.sample(5)

       wiki_movie_id                                       plot_summary
5662        11244593  The tree that the chipmunks Alvin , Simon , an...
30828       19836341  Apocalipsur tells the story of a group of frie...
31319       27200896  It is a drama set in Santa Cruz, California. N...
15636       16842403  Alan and Geraldine MacNally are a married coup...
32769       18577542  Scant information exists about this high-socie...

In [6]:
tvtropes_tf.sample(5)

,trope_name,character_data
7,adventurer_archaeologist,"{'char': 'Indiana Jones', 'movie': 'Indiana Jo..."
184,ditz,"{'char': 'Mr. Bean', 'movie': 'Mr. Bean's Holi..."
374,playful_hacker,"{'char': 'David Lightman', 'movie': 'WarGames'..."
290,hardboiled_detective,"{'char': 'Philip Marlowe', 'movie': 'The Big S..."
376,prima_donna,"{'char': 'Lina Lamont', 'movie': 'Singin' in t..."